body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}

.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 1.5rem;
}

.mb {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 1.5rem;
}
.mt {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 1.5rem;
}

.w-100 {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

.text-secondary {
  color: #909399;
}
.text-primary {
  color: #409eff;
}

.text-center {
  text-align: center;
}
