body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

.my {
  margin: 0.5em 0;
}
.my-1 {
  margin: 1em 0;
}
.my-2 {
  margin: 1.5em 0;
}

.mx {
  margin: 0 0.5em;
}
.mx-1 {
  margin: 0 1em;
}
.mx-2 {
  margin: 0 1.5em;
}

.mb {
  margin-bottom: 0.5em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 1.5em;
}
.mb-3 {
  margin-bottom: 2em;
}
.mb-4 {
  margin-bottom: 3em;
}
.mt {
  margin-top: 0.5em;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 1.5em;
}
.mt-3 {
  margin-top: 2em;
}
.mt-4 {
  margin-top: 3em;
}

.w-100 {
  width: 100%;
}

.text-secondary {
  color: #909399;
}
.text-primary {
  color: #409eff;
}

.text-center {
  text-align: center;
}

.d-lg-none {
  display: none;
}

.d-sm-none {
  display: block;
}

@media (max-width: 768px) {
  .d-lg-none {
    display: block;
  }

  .d-sm-none {
    display: none;
  }
}
